.cover-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  row-gap: 32px;
}
.cover-group:hover + .cover__overlay {
  opacity: 0.8;
}
.cover-group__title {
  width: 656px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fffdfd;
  margin: 0;
}
.cover-group .frame {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  width: 137px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  margin: 0;
}

.cover-group__subtitle {
  margin: 0;
  max-width: 280px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
}
.cover-group__subtitle span {
  display: block;
}

@media screen and (max-width: 320px) {
  .cover-group {
    row-gap: 16px;
    max-width: 320px;
  }
  .cover-group__title {
    font-size: 32px;
    max-width: 320px;
  }
  .cover-group__subtitle {
    font-size: 14px;
  }
  .cover-group .frame {
    max-width: 137px;
    max-height: 48px;
  }
}
