.footer {
  width: 165px;
  margin: 92px auto 24px auto;
}
.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px auto 24px auto;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 64px auto 24px auto;
  }
}
