.frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  width: 248px;
  padding: 0;
  height: 48px;
  background-color: #0278fe;
  border-radius: 4px;
  position: relative;
  border: none;
  align-self: flex-start;
  grid-area: button;
  transition: 0.3s;
}
.frame__paragraph {
  position: absolute;
  left: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  align-self: center;
  min-width: 208px;
  text-align: left;
}

.frame:hover {
  background: #0063d2;
  cursor: pointer;
}
.frame:active {
  transform: scale(0.99);
}

@media screen and (max-width: 320px) {
  .frame {
    order: 3;
    align-self: center;
  }
}
