.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 48px 0 0 0;
  max-width: 248px;
  height: 48px;
  background-color: #0278fe;
  border-radius: 4px;
  position: relative;
  border: none;
  text-decoration: none;
  align-self: flex-start;
  grid-area: button;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
}
.button:hover {
  background: #0063d2;
  cursor: pointer;
}
.button:active {
  transform: scale(0.99);
}

@media screen and (max-width: 320px) {
  .button {
    order: 3;
    align-self: center;
    width: 288px;
  }
}
