.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 118px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 0 90px 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-bottom: 0;
  }
}
