.intro {
  display: flex;
  flex-direction: column;
  margin: 0 347px 118px 148px;
  max-width: 785px;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  /* or 107% */
  color: #ffffff;
  margin: 0 0 40px 0;
  max-width: 785px;
}

.intro__subtitle {
  margin: 0;
  max-width: 720px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  color: #ffffff;
}
.intro__name {
  text-align: right;
  margin: 10px 0 32px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  /* identical to box height, or 142% */
  color: #ffffff;
}
.intro__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 90px 24px;
  }
  .intro__title {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    margin: 0 16px 90px 16px;
  }
  .intro__title {
    width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
  .intro__subtitle {
    line-height: 125%;
  }
}
