.intro {
  display: flex;
  flex-direction: column;
  margin: 0 347px 118px 148px;
}
.intro__text-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.intro__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  /* or 107% */
  color: #ffffff;
  margin: 0 0 40px 0;
  max-width: 785px;
}

.intro__text {
  margin: 0;
  max-width: 720px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  color: #ffffff;
}
.intro__text:nth-child(3) {
  text-align: right;
  margin: 10px 0 32px 0;
}
.intro__text:nth-child(4) {
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 90px 24px;
  }
  .intro__title {
    margin: 0 0 40px 0;
  }
}
@media screen and (max-width: 320px) {
  .intro__text:nth-child(1) {
    line-height: 1.25;
  }
  .intro {
    margin: 0 16px 90px 16px;
  }

  .intro__title {
    width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
