.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 284px));
  gap: 16px;
  padding-bottom: 92px;
  margin: 0 48px 0 48px;
}
.photo-grid__item {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    margin: 0 24px 0 24px;
    padding: 0 0 89px 0;
    max-width: 720px;
  }
  .photo-grid__item {
    max-height: 264px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0 0 62px 0;
  }
  .photo-grid__item {
    height: 216px;
  }
}
