.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artist "
    "image paragraph"
    "button paragraph "
    ". paragraph";
  column-gap: 4%;
}

.place__title {
  grid-area: title;
  display: flex;
  margin: 0 0 48px 0;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
}
.place__image {
  width: 460px;
  height: 460px;
  grid-area: image;
}
.place__website {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 46px;
}
.place__url-heading {
  margin: 0 0 8px 0;
  width: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}
.place__artist {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.place__content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
  grid-area: paragraph;
  max-width: 484px;
}
.place__paragraph {
  margin: 0 0 25px 0;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
  }
  .place__image {
    max-width: 44.5vw;
    max-height: 45vh;
  }
  .place__title {
    font-size: 7vw;
    max-width: 340px;
  }
  .place__content {
    font-size: 2vw;
    max-width: 100%;
  }
  .place__artist {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    row-gap: 30px;
  }
  .place__title {
    order: -1;
    margin: 0 16px;
    font-family: "Inter";
    font-style: normal;
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
  }
  .place__website {
    order: 0;
    align-self: flex-start;
    margin: 0 0 0 16px;
  }
  .place__image {
    order: 1;
    max-width: 320px;
  }
  .place__content {
    order: 2;
    margin: 0 16px;
    font-size: 16px;
    max-width: 288px;
  }
  .place__artist {
    font-size: 18px;
  }
}
