.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  max-width: 987px;
}
@media screen and (max-width: 768px) {
  .places {
    row-gap: 72px;
    margin: 0 24px 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    row-gap: 50px;
    margin: 0;
    max-width: 320px;
  }
}
