.intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 785px;
  height: 490px;
  align-self: flex-start;
}
.intro__text-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.intro__title {
  max-width: 785px;
  max-height: 116px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin: 0 0 40px 0;
}
.intro__text:nth-child(1) {
  max-width: 720px;
  height: 102px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  color: #ffffff;
}
.intro__text:nth-child(2) {
  max-width: 720px;
  height: 34px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  color: #ffffff;
  margin: 10px 0 32px 0;
}
.intro__text:nth-child(3) {
  max-width: 720px;
  height: 156px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px;
    row-gap: 40px;
  }
  .intro__title {
    max-height: 174px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__text:nth-child(1) {
    height: 240px;
    line-height: 1.25;
  }
  .intro__text:nth-child(3) {
    height: 390px;
  }
  .intro {
    min-height: 868px;
    margin: 0 16px 90px 16px;
  }

  .intro__title {
    font-size: 32px;
  }
}
