.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  margin: 0 0 32px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  max-width: 793px;
  /* max-height: 200px; */
}
.lead__subtitle {
  max-width: 720px;
  max-height: 72px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: 0 0 64px 0;
}
.lead__image {
  filter: grayscale(100%);
  width: 100%;
  max-height: 615px;
  margin: 0 0 92px 0;
}

@media screen and (max-width: 768px) {
  .lead {
    max-height: 983px;
    padding-bottom: 88px;
  }
  .lead__title {
    max-width: 720px;
  }
  .lead__subtitle {
    margin: 0 0 36px 0;
  }
  .lead__image {
    max-height: 480px;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 288px;
    padding-bottom: 0;
  }
  .lead__title {
    font-size: 40px;
    margin: 0 0 16px 0;
  }
  .lead__subtitle {
    font-size: 16px;
    margin: 0 0 40px 0;
  }
  .lead__image {
    margin: 0 0 64px 0;
  }
}
