.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead__title {
  margin: 0 0 32px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  width: 793px;
  height: 200px;
}
.lead__subtitle {
  width: 720px;
  height: 72px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: 0 0 64px 0;
}
.lead__image {
  filter: grayscale(100%);
  width: 100%;
  height: 615px;
  margin: 0 0 92px 0;
}
