@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/__logo.css);
@import url(../blocks/cover-group.css);
@import url(../blocks/cover.css);
@import url(../blocks/frame.css);
@import url(../blocks/header.css);
@import url(../blocks/intro.css);
@import url(../blocks/lead.css);
@import url(../blocks/photo-grid.css);
@import url(../blocks/place.css);
@import url(../blocks/places.css);
@import url(../blocks/footer.css);
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/Inter\ Web/Inter-Regular) format("woff2"),
    url(../vendor/Inter\ Web/Inter-Regular) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../vendor/Inter\ Web/Inter-Black) format("woff2"),
    url(../vendor/Inter\ Web/Inter-Black) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../vendor/Inter\ Web/Inter-Bold) format("woff2"),
    url(../vendor/Inter\ Web/Inter-Bold) format("woff");
}
