.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title artist "
    "image paragraph"
    "button paragraph "
    ". paragraph";
  row-gap: 48px;
  column-gap: 4%;
}

.place__title {
  grid-area: title;
  display: flex;
  margin: 0;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
}
.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-area: image;
}
.place__website {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.place__url-heading {
  margin: 0 0 8px 0;
  width: 50px;
  height: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}
.place__artist {
  margin: 0;
  width: 456px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.place__paragraph {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
  grid-area: paragraph;
}
.place__paragraph p {
  margin-top: 25px;
}
.place__paragraph p:first-of-type {
  margin: 0;
}
.place__paragraph p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 352px;
    overflow-x: hidden;
  }
  .place__image {
    width: 340px;
    height: 340px;
  }
  .place__title {
    font-size: 42px;
  }
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    row-gap: 30px;
  }
  .place__title {
    order: -1;
    margin: 0 16px;
    width: 288px;
  }
  .place__website {
    order: 0;
    height: 67px;
    align-self: flex-start;
    margin-left: 16px;
  }
  .place__image {
    order: 1;
    max-width: 320px;
  }
  .place__paragraph {
    order: 2;
    margin: 0 16px;
    font-size: 16px;
  }
  .place__artist {
    width: 288px;
  }
}
