.cover {
  height: 740px;
  position: relative;
  margin: 92px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/__background.svg);
  background-size: cover;
  background-position: center;
}
.cover__overlay {
  position: absolute;
  width: 100%;
  height: 740px;
  background: #2a2c2f;
  z-index: 1;
  opacity: 0.3;
  transition: 0.5s;
  margin: 0;
}

.cover__overlay:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 254px;
    width: 100vw;
  }

  .cover__overlay {
    height: 254px;
  }
}
