.cover {
  max-width: 1184px;
  height: 740px;
  position: relative;
  margin: 92px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover__overlay {
  position: absolute;
  width: 100%;
  height: 740px;
  background: #2a2c2f;
  z-index: 1;
  opacity: 0.3;
  transition: 0.5s;
  margin: 0;
}
.cover__image {
  margin: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
}
.cover__overlay:hover {
  opacity: 0.8;
}
